.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #f0ff35;
}

#colnumero .table-column {
  -fx-alignment: CENTER-RIGHT;
}

.botones-verde {

    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;

}



.botones-rojo {

    -fx-background-color:
        linear-gradient(#ffd6cc, #ff471a);

    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;

}

.cliente-ventana {

    -fx-background-color:
        linear-gradient(#0066cc, #33ccff);

    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;

}

.pagos-totales {
    -fx-padding: 10px;
    -fx-font-size: 18px;
    -fx-background-color: #3399FF;

}

.pagos-totales-bolivares {
    -fx-background-color:  #ffff80 ;
    -fx-border-color: red;
    -fx-text-fill: blue;
    -fx-pref-width:170;
    -fx-pref-height:40;
}

.pagos-totales-divisa {
    -fx-background-color: #00cc00  ;
    -fx-border-color: blue;
    -fx-text-fill: black;
    -fx-pref-width:140;
    -fx-pref-height:40;
}

.pagos-totales-factura {
    -fx-background-color: #585858  ;
    -fx-border-color: blue;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-pref-width:160;
}

.factura-tasa-dolar {
    -fx-background-color: #87bdd8  ;
    -fx-border-color: red;
    -fx-pref-width:150;
    -fx-pref-height:25;
    -fx-text-fill: black;
}

.factura-numero {
    -fx-background-color: #cfe0e8  ;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-pref-width:150;
    -fx-pref-height:25;
     -fx-font-size: 18px;
     -fx-font-family: 'Impact';
}

.pagos-saldos-factura {
    -fx-background-color:  #ff4d4d ;
    -fx-border-color: blue;
    -fx-text-fill: white;
    -fx-pref-width:160;
}

.pagos-totales Label {

    -fx-padding: 10px;
    -fx-font-size: 18px;

}
.pagos-totales GridPane {
     -fx-hpos: right ;
     -fx-hgap: 5;
     -fx-vgap: 5;
     -fx-padding:10;
}



#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

.sidebar-section Label {
    -fx-font-size: 18px;
    -fx-padding: 10 15 10 15;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E8E8E8 transparent;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;

}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 1;
    -fx-border-color: #E8E8E8 transparent transparent transparent;
}
